<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">
		<!-- The above 3 meta tags *must* come first in the head -->
		<title>Welcome to KLGBC</title>

		<!-- IMPORTANT!
		     In the two tags below, update /path/to/unity-1.6.0
		     to match the location of your Unity files
		
		<link href="http://unity.na.xom.com/favicon.ico" rel="icon">
		-->
		<link href="../static/css/em-unity-1.6.0.min.css" media="all" rel="stylesheet" />
		<script type="text/javascript" src="../static/js/vendor/svg4everybody.min.js"></script><!-- polyfill for SVG icons -->

	</head>
	<body>

<header class="em-c-header " role="banner">
  <div class="em-l-container em-c-header__inner">
    <div class="em-c-header__body">
      <div class="em-c-header__title-container">
        <h2 class="em-c-header__title"><a href="#" rel="home" class="em-c-header__title-link">Kuala Lumpur Global Business Center</a></h2>
      </div>
      <!-- end em-c-header__left -->
      <button class="em-c-btn em-c-btn--small em-c-btn--inverted em-c-header__nav-btn em-js-nav-trigger">
        <div class="em-c-btn__inner">
          <svg class="em-c-icon em-c-icon--small em-c-btn__icon em-js-btn-icon" data-em-btn-toggle-text="Close" data-em-icon-path="../../images/em-icons.svg">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/em-icons.svg#hamburger"></use>
          </svg>
          <svg class="em-c-icon em-c-icon--small em-c-btn__icon em-u-is-hidden em-js-btn-swap-icon" data-em-icon-path="../../images/em-icons.svg">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/em-icons.svg#x-filled"></use>
          </svg>
          <span class="em-c-btn__text em-js-btn-label">Menu</span>
        </div>
      </button>
      <!-- end em-c-btn -->
      <div class="em-c-header__nav-container em-js-nav-panel">
        <nav id="nav" class="em-c-primary-nav" role="navigation">
          <ul class="em-c-primary-nav__list">
            <li class="em-c-primary-nav__item ">
              <a href="#" class="em-c-primary-nav__link em-is-current ">
				
								Home
				
				
							</a>
              <!--end em-c-primary-nav__link-->
            </li>
            <!-- end em-c-nav__list__item -->

            <li class="em-c-primary-nav__item ">
              <a href="https://goto/KLGBC" target="_new" class="em-c-primary-nav__link ">
				
								Inside KLGBC
				
				
							</a>
              <!--end em-c-primary-nav__link-->
            </li>
            <!-- end em-c-nav__list__item -->
            <li class="em-c-primary-nav__item ">
              <a href="#" class="em-c-primary-nav__link  em-c-primary-nav__link--has-children em-js-nav-dropdown-trigger">
				
								Other GBCs
				
				
								<svg class="em-c-icon em-c-icon--small em-c-primary-nav__icon">
					            	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../static/images/em-icons.svg#caret-down"></use>
					          	</svg>
							</a>
              <!--end em-c-primary-nav__link-->
              <div class="em-c-primary-nav__sublist  em-js-nav-dropdown ">
                <ul>
                  <li class="em-c-primary-nav__subitem">
                    <a href="#" class="em-c-primary-nav__sublink">Bangkok GBC</a>
                  </li>
                  <!-- end em-c-nav__sublist__item -->
                  <li class="em-c-primary-nav__subitem">
                    <a href="#" class="em-c-primary-nav__sublink">Budapest GBC</a>
                  </li>
                  <!-- end em-c-nav__sublist__item -->
                  <li class="em-c-primary-nav__subitem">
                    <a href="#" class="em-c-primary-nav__sublink">Buenos Aires GBC</a>
                  </li>
                  <!-- end em-c-nav__sublist__item -->
                  <li class="em-c-primary-nav__subitem">
                    <a href="#" class="em-c-primary-nav__sublink">Curitiba GBC</a>
                  </li>
                  <!-- end em-c-nav__sublist__item -->
                </ul>
                <div class="em-c-primary-nav__subitem em-c-primary-nav__subitem-footer">
                  <a href="#" class="em-c-primary-nav__sublink">
										View all
										<svg class="em-c-icon em-c-icon--small em-c-primary-nav__icon">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/em-icons.svg#caret-right"></use>
										</svg>
									</a>
                </div>
              </div>
              <!-- end em-c-nav__sublist -->
            </li>
            <!-- end em-c-nav__list__item -->
          </ul>
          <!-- end em-c-nav__list -->
        </nav>
        <!-- end em-c-nav -->
      </div>
      <!-- end em-c-header__nav -->
    </div>
    <!-- end em-c-header__body -->
  </div>
  <!-- end em-l-container -->
</header>
<!-- end em-c-header -->
<!-- uncoment the following when using SPA (e.g. Angular, React, etc). For traditional websites, Unity JS handles this automagically :) -->
<!-- <div class="em-c-header-overlay"></div> -->
<main role="main">
<style>
    body {
        background-image:url('../static/images/KLBgPic9.jpg');
        background-repeat:no-repeat;
        background-size: cover;
    }
</style>

  <div class="em-l-container">
    <div class="em-c-page-header ">
      <h4 class="em-c-header__title" style="color: white;">Welcome! </h4>
      <p class="em-c-page-header__desc" style="color: white;"> <br> Learn more about KLGBC from the various topics below or watch a video for a quick overview of KLGBC</p>
    </div>
    <!-- end em-c-page-header -->

  </div>
  <!-- end em-l-container-->
</main>
<!-- end main-->

        <!-- Add unity JavaScript to bottom of body -->
		<!-- IMPORTANT!
		     In the two tags below, update /path/to/unity-1.6.0
		     to match the location of your Unity files
		-->
		<script type="text/javascript" src="../static/js/em-unity-1.6.0.min.js"></script>
	</body>
</html>

